*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(155, 208, 254);
    height: auto;
    width: auto;
}
header{
    background-color: bisque;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
    height: 110px;
    border: red solid;
}
header ul li{
    display: inline;
    padding: 20px;

}
header ul{
    padding-top: 45px;
    margin-right: 50px;
}
header nav ul li a{
    text-decoration: none;
    color: rgb(6, 26, 43);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(149, 48, 15);
    transition: color 0.6s ease;
}
header nav ul li a:hover{
    text-decoration: underline;
    color: darkblue;
}
header img{
    height: 100px;
    float: left;
}
.inicio{
    font-size: 28px;
    text-align: center;
}
#imageninicio {
    width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.fotoinfo{
    width: 600px;
    float: left;
}


.informacionpersonal h1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.informacionpersonal{
height:600px;
text-align: center;
margin-left: 600px;

}


footer{
    background-color: bisque;
    padding: 20px;
    text-align: right;
    border-top: red solid;
    width: auto;
}
footer p{
    display: inline;
    padding: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer p a{
    text-decoration: none;
    transition: color 0.5s ease;
}
footer p a:hover{
   color: rgb(114, 114, 236);
}
.informacionpersonal ul{
    text-align: justify;
    padding: 30px;
    font-size: 32px;
}
.informacionacademica{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    padding: 50px;
    text-align: left;
    height: 500px;
}
.informacionacademica h1{
    text-align: center;
    margin-bottom: 20px;
}
.informacionacademica ul li{
    padding: 3px;
}
.academica{
    float: right;
    height: auto;

}
.fotoacademica{
    height: 400px;
    margin-right: 50px;
    margin-top: 90px;
    border-radius: 20px;
}
.experiencia{
    margin-left: 50px;
    text-align: center;
    font-size: 28px;
    height: 300px;
    margin-bottom: 10px;
}
.experiencia li{
    text-align: justify;
}
.exp{
    height: 400px;
    margin: 40px;
    border-radius: 30px;
}
aside{
    text-align: center;
}
.experiencia h1{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.otros{
    height: 320px;
    padding: 100px;
    margin-left: 400px;
    font-size: 35px;
    text-align: justify;
}
.otros h1{
    margin-bottom: 40px;
}
.contacto{
    margin-left: 400px;
    margin-right: 400px;
}
.c1{
    margin-top: 20px;
    text-align: left;
    width: 500px;
}
.c2{
    width: 500px;
    margin-top: 20px;
    text-align: center;
}
.c3{
    margin-top: 20px;
    width: 500px;
}
.c4{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
    padding: 30px;
    width: 500px;
}
.contacto h1{
    text-align: center;
    font-size: 30px;
}
legend{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.botonsubmit{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
fieldset{
    border-radius: 10px;
}
label{
    font-size: 15px;
    font-weight: bold;
}
input{
    margin: 10px;
}
h1{
    color: rgb(0, 50, 156);
}
form input{
    text-align: center;
}